name: Snakemake Workflow CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  snakemake:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install micromamba
      uses: mamba-org/setup-micromamba@v1
      with:
        environment-name: snakemake-msi-env
        environment-file: environment/environment.yaml
        cache-env: true
        init-shell: bash

    - name: Run Snakemake
      shell: bash -l {0}
      run: |
        snakemake --cores 2 --rerun-incomplete --use-conda --conda-frontend mamba
